/* app css stylesheet */

.list_item {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    width: 90%;
    margin-left: 5%;    
    margin-right: 5%;    
}


h3 {
  font-weight: bold !important; 
}

f {
    font-size: 40px;
    color: gray;
  }
/*

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
  
  f {
    font-size: 40px;
    font-weight: bold;
    color: #A0A0A0;
  }
  createf {
    padding: 150;
    font-size: 40px;
    font-weight: bold;
  }
  

  r {
    text-align: right;
    margin-right: 30px;
  }

  margin-button
  {
    margin-left: 100px;
  }
  #secondary
  {
    text-align: right;
    margin-right: 100px;
  }
  */