   <br><br>
    <h1><f><center>Create a new job</center></f></h1>
    <br>  
  <createf><form ng-app="myApp"  ng-submit="submit()">
    <br>
    <blockquote>
    Job name:<br><br>
    <input type="text" ng-model="job_name" ng-init="job_name='Test'"><br><br>
    Job description:<br><br>
    <input type="text" ng-model="job_description"><br><br>

    Urgency:<br><br>
    <input type="number" value="1" min="1" max="5">
    <br><br>
    Compensation:<br><br>
    <input type="number" value="100"><br><br>
    <br><br>

    <input type="submit" class="btn-lg pull-center" id= "submit" value= "Create job" font-size=30px>
    </blockquote>
    
    <br><br><br>
    <br><br><br>
    </form></createf>
