
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
    text-align: left;
}
table#t01 {
    width: 100%;
    border-width: 5px;
    background-color: #f1f1c1;
}
f {
    font-size: 40px;
    color: gray;
  }
num {
    text-align: right;
}  
</style>


<table id=t01>
  <caption><f>List of jobs</f></caption>
  <br><br>
  <tr>
    <th>Job name</th>
    <th>Job description</th> 
    <th>Urgency</th>
    <th>Compensation</th>
  </tr>
  <tr>
    <td>Job 1</td>
    <td>description 1</td>
    <td style='text-align:center'>1</td>		
    <td>50</td>
  </tr>
  <tr>
    <td>Job 2</td>
    <td>description 2</td>    
    <td style='text-align:center'>3</td>		
    <td>94</td>
  </tr>
  <tr>
    <td>Job 3</td>
    <td>description 3</td>    
    <td style='text-align:center'>5</td>		
    <td>80</td>
  </tr>
</table>
<br><br><br>


