<div class="container mb-page">

    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Total number of jobs">
                    <h3 class="panel-title">Jobs</h3>
                </div>
                <div class="panel-body">
                    <h4>{{jobsCount}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Jobs name">
                    <h3 class="panel-title">Job Name</h3>
                </div>
                <div class="panel-body">
                    <h4>{{jobName}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Employer name">
                    <h3 class="panel-title">Employer Name</h3>
                </div>
                <div class="panel-body">
                    <h4>{{employerName}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Jobs Description">
                    <h3 class="panel-title">Job Description</h3>
                </div>
                <div class="panel-body">
                    <h4>{{jobDescription}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Jobs Status">
                    <h3 class="panel-title">Job Status</h3>
                </div>
                <div class="panel-body">
                    <h4>{{jobStatus}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-primary">
                <div data-toggle="tooltip" data-placement="top" title="" class="panel-heading" data-original-title="Jobs Value">
                    <h3 class="panel-title">Job Value</h3>
                </div>
                <div class="panel-body">
                    <h4>{{jobValue}}</h4>
                </div>
            </div>
        </div>
    </div>
    
    
<div>


    <hr>

    <footer>
        <p>© Company 2015</p>
    </footer>
</div>